c-header {
  background-color: #f6f6f6; /* Fond blanc */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Ligne subtile en bas */
}

h5 {
  font-family: 'Roboto', sans-serif; /* Police moderne */
  letter-spacing: 0.5px; /* Espacement des lettres */
}

a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease; /* Animation de transition */
}
