<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
    <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
    <!-- Tabs Titles -->
    <img ngSrc="assets/images/img.png" id="logoImage" alt="logo Image" height="171" width="396">
    <h3> Connectez-Vous</h3>
    <!-- Login Form -->
    <form>
      <input type="text" id="username" class="fadeIn second" [(ngModel)]="email" name="Email" placeholder="Votre Email">
      <input type="password" id="password" class="fadeIn third" [(ngModel)]="password" name="password" placeholder="Votre Mot de passe">
      <input type="submit" (click)=handleLogin() class="fadeIn fourth" value="Connexion">
       <a href="inscription" >Inscrivez-Vous </a>

    </form>

  </div>
</div>
