<app-selected-farm
  [farms]="farms"
  [selectedFarmIndex]="selectedFarmIndex"
  [selectedFarm]="selectedFarm"
  (farmChanged)="onFarmChanged($event)">
</app-selected-farm>
<br><br>
<div class="container">
    <app-currentweathercards
      [temperature]="weatherData?.data_1h?.temperature[hour]"
      [relativeHumidity]="weatherData?.data_1h?.relativehumidity[hour]"
      [precipitation]="weatherData?.data_1h?.precipitation[hour]"
      [windSpeed]="weatherData?.data_1h?.windspeed[hour]">
    </app-currentweathercards>
  </div>

