<div class="wrapper fadeInDown">
  <div id="formContent">
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <img src="assets/images/img.png" id="logoImage" alt="Logo Image">
    <h3>Pas encore de compte ? Inscrivez-vous !</h3>
    <form #registerForm="ngForm" (ngSubmit)="handleRegister()">
      <input type="text" id="username" class="fadeIn second" [(ngModel)]="username" name="username" placeholder="Votre Nom" required>
      <input type="text" id="email" class="fadeIn second" [(ngModel)]="email" name="email" placeholder="Votre Email" required>
      <input type="password" id="password" class="fadeIn third" [(ngModel)]="password" name="password" placeholder="Votre Mot de passe" required>
      <input type="password" id="confirmation" class="fadeIn third" [(ngModel)]="confirmPasswd" name="confirmpassword" placeholder="Confirmer Votre Mot de passe" required>
      <input type="submit" class="fadeIn fourth" value="Inscription">
     <p>Avez-vous déjà un compte ?</p>
      <a href="#">Se Connecter</a>
    </form>
  </div>
</div>
